#input {
    width: 98%;
    font-size: 16px;
    padding: 12px 10px 12px 10px;
    border: 1px solid #ddd;
}

body {
    background-color: bisque;
}

ul {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

ul:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

button {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}

img {
    float:left;
    margin-top: 5px;
    border-radius: 5px 5px 5px 5px;
    max-width: 4%;
    object-fit: contain;
}